<div class="container-fluid">
  <div class="row p-4">
    <div class="col-6">
      <img
        src="../../../assets/FM5.jpg"
        alt="my img"
        class="img-fluid"
        id="img-left"
      />
    </div>
    <div class="col-6 left-text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, itaque
        saepe amet laboriosam veritatis necessitatibus, placeat assumenda,
        molestias alias rem ut corporis non rerum quibusdam.
      </p>
    </div>
  </div>
  <div
    class="row p-4"
    style="display: flex; flex-direction: row-reverse"
  >
    <div class="col-6">
      <img
        src="../../../assets/FM5.jpg"
        alt="my img"
        class="img-fluid"
        id="img-left"
      />
    </div>
    <div class="col-6">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, itaque
        saepe amet laboriosam veritatis necessitatibus, placeat assumenda,
        molestias alias rem ut corporis non rerum quibusdam.
      </p>
    </div>
  </div>
</div>
