.background-img
{
  background-image: url('../../../assets/FM1.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::after{
  content: "";
  position: absolute; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100% !important; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  }
}
#img-left{
  width: 350px; height: 350px
}
.left-text{
  font-size: 100%;
}


.art_by{
  display: flex;
  // justify-content: center;
  align-items: center;
  // height: 100%;
  color: white;
  flex-direction: column;
  // z-index: 100;
}
.center-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
}

@media(max-width:550px){
  .art_by {
   min-width: 100%;
  }
}



// .card-img-left{
//  padding-top: 2rem;
//  border-radius: 10px;
//  box-shadow: 2px 2px 2px rgba($color: #000000, $alpha: .2);
//  border: none;
//  height: 100%;
//  max-width: 100%;
//  background-image: url('../../../assets/FM5.jpg');
// }

//  .image{
//   background: red;
//    max-height: 4rem;
//    width: 50%;
//  }

