<div>
  <app-background-img></app-background-img>
  <div class="center-content focus-in-expand">
    <div class="art_by">
      <p>Art by</p>
      <div>
        <h1>FHATUWANI MKHELI</h1>
      </div>
    </div>
  </div>
  <!-- <app-down-scroller></app-down-scroller> -->
</div>

<div class="container-fluid">
  <div class="row p-4">
    <div class="col-6">
      <img
        src="../../../assets/FM5.jpg"
        alt="my img"
        class="img-fluid"
        id="img-left"
      />
    </div>
    <div class="col-6 left-text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, itaque
        saepe amet laboriosam veritatis necessitatibus, placeat assumenda,
        molestias alias rem ut corporis non rerum quibusdam.
      </p>
    </div>
  </div>
  <div
    class="row p-4"
    style="display: flex; flex-direction: row-reverse"
  >
    <div class="col-6">
      <img
        src="../../../assets/FM5.jpg"
        alt="my img"
        class="img-fluid"
        id="img-left"
      />
    </div>
    <div class="col-6">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, itaque
        saepe amet laboriosam veritatis necessitatibus, placeat assumenda,
        molestias alias rem ut corporis non rerum quibusdam.
      </p>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12">
    <div class="bg-danger">left</div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 bg-info">right</div>
</div> -->
