<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/home">
    <app-logo></app-logo>
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="navs">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home"
          >Home <span class="sr-only"></span></a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/shop">Shop</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contact">Contact</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/cart">
          <i class="fa-solid fa-cart-arrow-down cart"></i>
          <div id="cart"><span>0</span></div>
        </a>
      </li>
<!--
      <li>
        <i class="fa" style="font-size:24px">&#xf07a;</i>
          <span class='badge badge-warning' id='lblCartCount'> 5 </span>
      </li> -->

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
      <button class="btn my-2 my-sm-0" id="login" type="submit" routerLink="/signin">Signin</button>
      <button class="btn my-2 my-sm-0" id="signup" type="submit" routerLink="/signup">Signup</button>
    </form>
  </div>
</nav>
