<app-spacer></app-spacer>
<!-- <div class="vid-background">
  <video src="../../../assets/fmvideo.mp4" autoplay loop muted></video>
</div> -->

<div class="container-lg" >
  <div>
    <form>
      <div class="form-wrapper">
        <i class="fa-solid pr-2 fa-user fa_icon"></i>
        <label >Email*</label>
        <div class="input-container">
          <input type="text">
        </div>
      </div>
      <div class="form-wrapper">
        <i class="fa-solid pr-2 fa-user"></i>
        <label >Password</label>
        <div class="input-container">
          <input type="text" >
        </div>
      </div>
    </form>
  </div>
</div>
