<!-- <app-spacer></app-spacer> -->
<!-- <div class="background-img"></div> -->
<!-- <app-background-img></app-background-img>
<div
  class="container-lg d-flex justify-content-center align-items-center wrapper slide-in-blurred-top">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6">
      <div class="card w-100">
        <img src="../../../assets/FM3.jpg" alt="" />
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-6">left</div>
  </div>
</div> -->

<!-- <div class="container">
    <div class="info">
      <div class="row">
        <div class="col-4">
            <div class="card">
              <img src="../../../assets/FM3.jpg" alt="">
            </div>
        </div>
        <div class="col-8">
         left
        </div>
      </div>
    </div>
  </div> -->
