  <!-- footer -->

  <footer>
    <div class="main-content">
      <div class="left box">
        <h2>About</h2>
        <div class="content">
          <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor aspernatur labore,
            perspiciatis incidunt deserunt, natus quo excepturi omnis laborum dicta veritatis architecto cupiditate,
            quam voluptatem at blanditiis nostrum vero tempora?</p>
          <div class="social">
            <a href="#"><span class="fab fa-instagram"></span></a>
            <!-- <a href="#"><span class="fab fa-linkedin"></span></a> -->
          </div>
        </div>
      </div>
      <div class="center box">
        <h2>Address</h2>
        <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt" style="color: white;"></span>
            <span class="text" style="color: white;">Katlehong,Nadustria</span>
          </div>
          <div class="email">
            <span class="fas fa-envelope" style="color: white;"></span>
            <span class="text" style="color: white;">nhlanhlamavundla1@gmail.com</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt" style="color: white;"></span>
            <span class="text" style="color: white;">(067) 113 0709</span>
          </div>
        </div>
      </div>
      <div class="div right box" id="Contact">
        <h2>Contact</h2>
        <div class="content">
          <form action="https://formspree.io/f/mjvllywn" method="POST">
            <div class="email">
              <div class="text">Name</div>
              <input type="email" name="Name" required placeholder="name">
            </div>
            <div class="email">
              <div class="text">Email *</div>
              <input type="email" name="Email" required placeholder="email">
            </div>
            <div class="msg">
              <div class="text">Message *</div>
              <textarea cols="25" rows="2" name="Message" required placeholder="message"></textarea>
            </div>
            <div class="btn">
              <button class="btn-send" type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="bottom">
      <span class="credit">Created by <a href="">KwaMavundlaCodePin </a> | </span>
      <span class=" far fa-copyright m-1"> </span> <span> 2022 All rights rerserved.</span>
    </div>

  </footer>
